.target-file-error {

}


.maintainability-table td:not(.empty) {
  border: 1px solid black;
  padding: 5px;
}

.maintainability-table td.component,
.maintainability-table td.metric {
  font-weight: bold;
}
.maintainability-table td.content {
  text-align: center;
}

section.maintainability-concept {
  margin-top: 30px;
}
.average {
  background: #ddd;
  font-weight: bold;
}

.nav li a {
  cursor: pointer;
}

.duplications .file-block {
  border-top: 1px solid #ddd;
  margin-top: 40px;
}