.target-file-error {

}


.maintainability-table td:not(.empty) {
  border: 1px solid black;
  padding: 5px;
  text-align: right;
}

.maintainability-table td:not(.component),
.maintainability-table td:not(.metric) {
  text-align: center;
}

